/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Barra superior */
.navbar {
    background-color: #3E2764;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.user-icon img {
    width: 30px;
    height: 30px;
}

/* Menú lateral */
.sidebar {
    background-color: #E0E0E0;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
}

.sidebar ul li a:hover {
    color: #3E2764;
}

/* Contenido principal */
.main-content {
    margin-left: 220px;
    padding: 20px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* Tarjetas */
.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
}

.card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 15px;
}

.card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #666;
}
